body{
    background: gray;
    margin: 0;
    box-sizing: border-box;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    
}

.img{
    max-width:300px;
    max-height: 300px;
}

.container1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1em;
    
    
}

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1em;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

